<section class="bg_animate">
  <section class="hero">
    <div class="hero__wave"></div>

    <section class="hero__main container">
      <h1 class="title_logo"><span class="txt-primary title">One</span> <span class="txt-primary2 title2">Step</span> </h1>
      <img src="../../../assets/illustration-intro.png" class="hero__img" />

      <h1 class="hero__title">
        Somos una app que te hace mas facil la manera de encontrar lo que
        deseas!
      </h1>
      <p class="hero__paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere, quis
        reiciendis ipsa, nam perspiciatis, ut repudiandae praesentium enim
        repellat molestiae sapiente dicta ducimus quia qui in! Officia
        repellendus accusantium nobis.
      </p>
      <a href="#" class="hero__cta"> Ingresa Aqui! </a>
    </section>
  </section>

  <div class="burbujas">
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
    <div class="burbuja"></div>
  </div>
</section>

<main class="main">
  <section class="about container">
    <article class="about__item">
      <figure class="about__picture">
        <img
          src="../../../assets/undraw_just_browsing_re_ofnd.svg"
          class="about__img"
        />
      </figure>

      <h3 class="about__title"><b>Lo buscamos por ti y lo encontramos por ti!</b> </h3>

      <p class="about__paragraph">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut obcaecati
        ipsa incidunt! Repudiandae quae quod, minima non, saepe doloremque
        quaerat inventore adipisci illo cum quas, porro consequatur optio
        corporis nulla?
      </p>
    </article>

    <article class="about__item">
      <figure class="about__picture">
        <img
          src="../../../assets/undraw_map_dark_re_36sy.svg"
          class="about__img"
        />
      </figure>

      <h3 class="about__title"> <b> Ubicamos tu lugar favorito</b></h3>

      <p class="about__paragraph">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, ut
        quibusdam aliquid hic fugit accusantium sit repellat nesciunt odit magni
        aliquam asperiores corrupti velit ad doloribus. Magni dolor consectetur
        repellendus?
      </p>
    </article>

    <article class="about__item">
      <figure class="about__picture">
        <img
          src="../../../assets/undraw_window_shopping_re_0kbm.svg"
          class="about__img"
        />
      </figure>

      <h3 class="about__title"> <b>Encuentra el articulo en el lugar preciso</b> </h3>

      <p class="about__paragraph">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Velit fuga
        impedit ullam. Neque blanditiis doloribus fugit in? Pariatur incidunt
        eligendi laborum, dolor officiis saepe omnis quos vero qui voluptatem
        commodi.
      </p>
    </article>

    <article class="about__item">
      <figure class="about__picture">
        <img
          src="../../../assets/undraw_empty_cart_co35.svg"
          class="about__img"
        />
      </figure>

      <h3 class="about__title"> <b>Completa tu lista, como quieras</b> </h3>

      <p class="about__paragraph">
        Whether you're sharing holidays photos or work documents, Fylo has you
        covered allowing for all file types to be securely stored and shared.
      </p>
    </article>
  </section>

  <section class="productive container">
    <figure class="productive__picture">
      <img
        src="../../../assets/illustration-stay-productive.png"
        class="productive__img"
      />
    </figure>

    <div class="productive__texts">
      <div class="productive__texts_conteiner">
        <h3 class="productive__title">Registrate y asi podremos conocerte!</h3>

        <p class="productive__paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
          excepturi architecto minima laudantium! Deleniti aspernatur
          consectetur itaque nihil, tenetur commodi beatae in fugiat ut dicta
          tempora, aliquid temporibus laudantium excepturi!
        </p>

        <p class="productive__paragraph">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Optio
          repellat magni eveniet exercitationem .
        </p>
      </div>
      <a href="#" class="productive__cta">
        Registrate
        <img src="../../../assets/icon-arrow.svg" class="productive__arrow" />
      </a>
    </div>
  </section>

  <section class="container__cards container">
    <div class="card">
      <div class="cover">
        <img src="../../../assets/Luis.png" alt="" />
        <div class="img__back"></div>
      </div>
      <div class="description">
        <h2>Luis Rodriguez</h2>
        <p>
          Equipo. <br />
          Desarrollador Frontend y Backented.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="cover">
        <img src="../../../assets/David.png" alt="" />
        <div class="img__back"></div>
      </div>
      <div class="description">
        <h2>David Cuisa</h2>
        <p>
          Equipo. <br />
          Desarrollador Frontend.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="cover">
        <img src="../../../assets/Fabian.png" alt="" />
        <div class="img__back"></div>
      </div>
      <div class="description">
        <h2>Fabian Romero</h2>
        <p>
          Equipo. <br />
          Desarrollador Frontend y Backented.
        </p>
      </div>
    </div>
    <div class="card">
      <div class="cover">
        <img src="../../../assets/Cristian.png" alt="" />
        <div class="img__back"></div>
      </div>
      <div class="description">
        <h2>Cristian Beltran</h2>
        <p>
          Product Owner. <br />
          Desarrollador Frontend
        </p>
      </div>
    </div>
    <div class="card">
      <div class="cover">
        <img src="../../../assets/Carlos.png" alt="" />
        <div class="img__back"></div>
      </div>
      <div class="description">
        <h2>Carlos Leal</h2>
        <p>
          Scrum Master. <br />
          Desarrollador Frontend.
        </p>
      </div>
    </div>
  </section>

  <section class="join">
    <div class="join__container container">
      <h3 class="join__title">Obtenga acceso anticipado hoy!</h3>
      <p class="join__paragraph">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et cupiditate
        nulla rerum aliquam doloribus repellendus aspernatur ullam cumque
        molestias reprehenderit suscipit ex repellat, expedita earum, dolor
        dolore in asperiores. Error.
      </p>

      <form class="join__form">
        <input
          type="submit"
          value="Saber mas!"
          class="join__input join__input--submit"
        />
      </form>
    </div>
  </section>
</main>

<footer class="footer">
  <section class="footer__container container">
    <img src="../../../assets/logo.svg" class="footer__logo" />

    <div class="footer__items">
      <p class="footer__contact footer__contact--first">
        <img src="../../../assets/icon-location.svg" class="footer__icon" />
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis quidem
        aperiam quibusdam, veritatis explicabo similique.
      </p>

      <div class="footer__content">
        <p class="footer__contact footer__contact--second">
          <img src="../../../assets/icon-phone.svg" class="footer__icon" />
          +1-543-123-4567
        </p>

        <div class="footer__location">
          <p class="footer__contact">
            <img src="../../../assets/icon-email.svg" class="footer__icon" />
            example@fylo.com
          </p>
        </div>
      </div>

      <nav class="footer__nav">
        <a href="#" class="footer__link">About Us</a>
        <a href="#" class="footer__link">Jobs</a>
        <a href="#" class="footer__link">Press</a>
        <a href="#" class="footer__link">Blog</a>
      </nav>

      <nav class="footer__nav">
        <a href="#" class="footer__link">Contact Us</a>
        <a href="#" class="footer__link">Terms</a>
        <a href="#" class="footer__link">Privacy</a>
      </nav>

      <div class="footer__social">
        <a href="#" class="footer__media"
          ><img src="../../../assets/fb.svg" class="footer__img"
        /></a>
        <a href="#" class="footer__media"
          ><img src="../../../assets/twitter.svg" class="footer__img"
        /></a>
        <a href="#" class="footer__media footer__media--last"
          ><img src="../../../assets/instagram.svg" class="footer__img"
        /></a>
      </div>
    </div>
  </section>
</footer>
