@import url('https://fonts.googleapis.com/css2?family=Water+Brush&display=swap');

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 0;
    overflow: hidden;

}
.title_logo{
    text-shadow: 7px 4px 5px rgb(43, 43, 85);
    font-size: 8rem;
}
.txt-primary{
    color:rgba(37, 41, 73, 0.651);
}
.txt-primary2{
    color:#fefffe98;
}

.hero{
    background-color: rgb(191, 205, 231);
    position: relative;
}

.hero__wave{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40%;
    background-color: hsl(218, 28%, 13%);
}
.hero__wave::before{
    content: "";
    position: absolute;
    top: -100px;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-image: url("../../../assets/bg-curvy-mobile.svg");
    background-size: 100% 100px;
}

.hero__main{
    color: #fff;
    display: grid;
    gap: 1.5em;
    text-align: center;
    position: relative;

}

.hero__img{
    width: 100%;
    display: block;
    margin: 0 auto;
    max-width: 600px;
}

.hero__title{
    margin-top: 1.5em;
    font-family: var(--heading-font);
}

.hero__paragraph{
    line-height: 1.5;
    
}

.hero__cta{
    width: 250px;
    padding: 1em 0;
    border-radius: 2em;
    background-image:var(--gradient);
    color: #fff;
    font-weight: bold;
    place-self: center;
    font-family: var(--heading-font);
    text-decoration: none;
}

.about{
    color: rgb(36, 51, 83);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 5em;
}



.about__img{
    width: 200px;
    height: 200px;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    border-radius: 30px;
    background: rgb(255, 255, 255);
    box-shadow: 5px 10px #856ccc7e;

    
}

.about__title{
    font-size: 2rem;
    margin-top: 1.4em;
    margin-bottom: 1em;
    font-family: var(--heading-font);
}

.productive{
    color: #fff;
    display: grid;
    gap: 3em;
}
.productive__texts_conteiner{
    background-color: rgb(44, 60, 102);
    width: 600px;
    height: 200px;
    border-radius: 5px;
   padding: 15px;
   
    
}
.productive__img{
    display: block;
    width: 100%;
    margin: 0 auto;
    max-width: 600px;
}

.productive__title{
    font-family: var(--heading-font);
    margin-bottom: .7em;
}

.productive__paragraph{
    line-height: 1.7;
    margin-bottom: 1em;
}


.productive__cta{
    display: inline-block;
    color: rgb(29, 38, 63);
    line-height: 2.5;
    text-decoration: none;
    border-bottom: 5px solid var(--cyan-gradient);
    font-size: 1.2rem;
}

.productive__arrow{
    margin-left: .3em;
    vertical-align: middle;
}
body .container__cards{
    background: #F1FAFF;
}
.container__cards{
    
    display: flex;
    justify-content: center;
}

.card{
    width: 300px;
    margin: 10px;
    transition: all 300ms;

}

.card:hover{
    width: 300px;
}

.card .cover{
    width: 100%;
    height: 150px;
    position: relative;
    overflow: hidden;
}

.card .cover img{
    width: 150px;
    display: block;
    margin: auto;
    position: relative;
    top: 40px;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 400ms;
}

.card:hover .cover img{
    top: 0px;
    filter: none;
}

.card .img__back{
    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    left: 0;
    background-size: cover;
    border-radius: 20px;
    transition: all 300ms;
}

.card:nth-of-type(1) .img__back{
    background-image: url(../../../assets/bg1.jpg);
}

.card:nth-of-type(2) .img__back{
    background-image: url(../../../assets/bg3.jpg);
}

.card:nth-of-type(3) .img__back{
    background-image: url(../../../assets/bg2.jpg);
}
.card:nth-of-type(4) .img__back{
    background-image: url(../../../assets/bg3.jpg);
}
.card:nth-of-type(5) .img__back{
    background-image: url(../../../assets/bg1.jpg);
}

.card:hover .img__back{
    bottom: -40px;
}

.card .description{
    background: white;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 300ms;
}

.card:hover .description{
    padding: 40px;
}

.card .description h2{
    margin-top: 10px;
}

.card .description p{
    margin-top: 10px;
}

.card .description input{
    padding: 10px 40px;
    margin-top: 20px;
    border: none;
    background: #A6359D;
    color: white;
    font-size: 14px;
    cursor: pointer;
    border-radius: 8px;
    transition: all 300ms;
}

.card .description input:hover{
    background: #83277b;
}


.card__job{
    color: #aaa9a9;
}

.join{
    background-image: linear-gradient(var(--blue-main) 50%, var(--blue-footer) 50%);
    color: #fff;
    padding: 60px 0;
}

.join__container{
    background-color: var(--blue-testimonials);
    border-radius:8px ;
    padding-left: 1.5em;
    padding-right: 1.5em;
    text-align: center;
}

.join__title{
    font-family: var(--heading-font);
    margin-bottom: 1em;
}

.join__paragraph{
    line-height: 1.5;
    margin-bottom: 1.5em;
}

.join__form{
    display: grid;
    gap: 1em;
}

.join__input{
    padding: 15px 20px;
    font: inherit;
    border-radius: 30px;

    outline: none;
    border: none;
}

.join__input--submit{
    background-image: var(--gradient);
    color: #Fff;
    font-family: var(--heading-font);
    font-weight: bold;
}


.footer{
    background-color: var(--blue-footer);
    color: #fff;
}

.footer__items{
    display: grid;
    gap: 1em;   
}

.footer__logo{
    width: 150px;
    display: block;
    margin-bottom: 2em;
}

.footer__contact{
    display: flex;
    align-items: flex-start;
    gap: 5px;
}

.footer__contact--second{
    margin-bottom: 1em;
}


.footer__icon{
    margin-top: 3px;
}

.footer__nav{
    margin-top: 2.5em;
    display: grid;
    gap: .8em;
}

.footer__link{
    color: #fff;
    text-decoration: none;
}

.footer__social{
    margin-top: 2em;
   margin: 0 auto;
}

.footer__media{
    width: 40px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    border: 1px solid;
    border-radius: 50%;
    margin-right: 20px;
}

.footer__media--last{
    margin-right: 0;
}

@media (min-width:740px){
    .hero__title{
        font-size: 2.5rem;
    }

    .hero__wave::after{       
        background-image: url("../../../assets/bg-curvy-desktop.svg");
    }

    .about{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .about__item{
        width: 40%;
    }

    .productive{
        grid-template-columns: 1fr 1fr;
        align-items: center;
    }

    .productive__title{
        font-size: 2rem;
        margin-bottom: .6em;
    }

    .cards{
        flex-direction: row;
    }

    .join__container{
        width: 70%;
    }

    .join__title{
       font-size: 2rem;
        margin-bottom: .7em;
    }

    .join__form{
        grid-template-columns: 1fr max-content;
    }

    
    .footer__items{
        grid-template-columns: 2fr 1fr max-content max-content 1fr ;
        gap: 2em;
    }

    
    .footer__nav{
        margin-top: 0;

    }

    .footer__media{
        margin-bottom: 1em;
    }
  
    .footer__social{
        margin-top: 0em;
        
    }
    
    
    .footer__media--last{
        margin-right: 0;
    }
}











/* burbujas */

.burbuja{
    border-radius: 50%;
    background: #fff;
    opacity: .3;

    position: absolute;
    bottom: -150;
    
    animation: burbujas 3s linear infinite ;
}

.burbuja:nth-child(1){
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2){
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3){
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4){
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(5){
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(6){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7){
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8){
    width: 100;
    height: 100px;
    left: 52%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9){
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 3s;
    animation-delay: 2s;
}

.burbuja:nth-child(10){
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}


@keyframes burbujas{
    0%{
        bottom: 0;
        opacity: 0;
    }
    30%{
        transform: translateX(30px);
    }
    50%{
        opacity: .4;
    }
    100%{
        bottom: 100vh;
        opacity: 0;
    }
}

/* @keyframes movimiento{ */
    /* 0%{ */
        /* transform: translateY(0); */
    /* } */
    /* 50%{ */
        /* transform: translateY(30px); */
    /* } */
    /* 100%{ */
        /* transform: translateY(0); */
    /* } */
/* } */
